@charset "UTF-8";

.button-wrapper{
  display: flex;
  justify-content: center;
}

.button-box{
  margin-right: 30px;
  padding:0 15px;
  border-radius: 10px;
  cursor: pointer;
  line-height: 50px;
  display: inline-block;
}

.button-box:last-child{
  margin-right: 0;
}

.red-box{
  color:#fff;
  background-color: #fd0f0fd9;
}

.blue-box{
  color: #fff;
  background-color: #170ffdd9;
}

.green-box{
  color: #000;
  background-color: #0ffd0fd9;
}
.red-shadow{
  color:#fff;
  background-color: #fd0f0fd9;
  box-shadow:0px 5px 0 rgba(63,5,5,0.851);
}

.blue-shadow{
  color: #fff;
  background-color: #170ffdd9;
  box-shadow: 0px 5px 0px rgba(5,13,63,0.851); 
}

.green-shadow{
  color: #000;
  background-color: #0ffd0fd9;
  box-shadow: 0px 5px 0px rgba(5,63,5,0.851);
}

.red-push{
  color:#fff;
  background-color: #fd0f0fd9;
  box-shadow:0px 5px 0 rgba(63,5,5,0.851);
}

.blue-push{
  color: #fff;
  background-color: #170ffdd9;
  box-shadow: 0px 5px 0px rgba(5,13,63,0.851); 
}

.green-push{
  color: #000;
  background-color: #0ffd0fd9;
  box-shadow: 0px 5px 0px rgba(5,63,5,0.851);
}

.red-push:active,.blue-push:active,.green-push:active{
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.line-change{
  color: #67c5ff;
  border: 4px double #67c5ff;
}

.line-change:hover{
  background-color: #fffbef;
  transition: 0.5s;
}

.dot-change{
  color: #67c5ff;
  border: 4px dotted #75caff;
}

.dot-change:hover{
  border-style: dashed;
  transition: 0.5s;
}

.double-change{
  color: #0079a5f8;
  background-color: #d0edfff8;
  border: 4px dashed #67c5ff;
}

.double-change:hover{
  color:  #67c5ff;
  background-color: #ffffff;
  transition: 0.5s;
}