@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */

.green-box{
  width: 200px;
  height: 200px;
  background-color: #76ff826b;
  margin: 0 auto;
}

.fade-in{
  animation: fadeIn 4s ease 0s 1 normal;
}

.fade-out{
  animation: fadeOut 4s ease 0s 1 normal; 
}

.spin{
  animation: spin 4s liner infinite;
}

@keyframes fade-in{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}